* {
  margin: 0;
  padding: 0;
  color: #f8e0ba;
  font-family: degular, sans-serif;
  font-weight: 400;
}

html {
  overflow-x: hidden;
  font-size: 16px;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background: #151a2c;
  margin: 0;
  padding: 0;
}

#hero {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("../img/Screenshot Clear.png");
  background-position: center;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px;
}

#hero #navbar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero #navbar #logo img {
  height: 80px;
}

#hero #navbar #links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero #navbar #links a {
  color: #f8e0ba;
  text-decoration: none;
  margin-left: 40px;
  padding: 2px 0;
  font-size: 22px;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}

#hero #navbar #links a:hover {
  border-bottom: 2px solid #f8e0ba;
}

#hero #title {
  width: 80vw;
  max-width: 900px;
  padding-top: 7vh;
}

#hero #arrow {
  height: 40px;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

#hero #arrow:hover {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

section {
  background: #212635;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10vw 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section h2 {
  font-size: 2em;
}

section .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5vw 0;
  margin: 0 auto;
}

section .inner p {
  font-size: 2em;
  padding-bottom: 20px;
}

section .inner a img {
  height: 100px;
}

section p {
  font-size: 2em;
}

section form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section #mce-EMAIL {
  all: unset;
  background: #151a2c;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  font-size: 1.5em;
  border: 2px solid #151a2c;
  border-bottom: 2px solid #f8e0ba;
  margin: 24px 0;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}

section #mce-EMAIL:focus {
  border: 2px solid #f8e0ba;
}

section #mce-EMAIL::-webkit-input-placeholder {
  color: #f8e0ba;
}

section #mce-EMAIL:-ms-input-placeholder {
  color: #f8e0ba;
}

section #mce-EMAIL::-ms-input-placeholder {
  color: #f8e0ba;
}

section #mce-EMAIL::placeholder {
  color: #f8e0ba;
}

.button {
  all: unset;
  background: #f8e0ba;
  padding: 15px 30px;
  color: #212635;
  font-size: 1.5em;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.button:hover {
  cursor: pointer;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

#about {
  background: #151a2c;
}

#about .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 40px;
}

#about .row a {
  margin-right: 30px;
}

.bottom {
  background: #151a2c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  padding: 20px 40px;
}

.bottom p {
  font-size: 1.25em;
  opacity: 0.6;
}

@media screen and (max-width: 1150px) {
  section {
    padding: 140px;
  }
  #about .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
  }
  #about .row a {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 850px) {
  html {
    font-size: 14px;
  }
  #hero {
    height: 500px;
  }
  #hero #navbar {
    padding: 10px 30px;
  }
  #hero #navbar #logo img {
    height: 50px;
    padding-top: 5px;
  }
  #hero #navbar #links a {
    font-size: 1.25em;
    margin-left: 25px;
  }
  #hero #title {
    max-width: 1000px;
    padding-top: 50px;
  }
  #hero #arrow {
    display: none;
  }
  .link {
    font-size: 1.25em;
  }
  section {
    padding: 140px 30px;
  }
  section h2 {
    font-size: 1.75em;
  }
  section .inner {
    padding: 100px 0;
  }
  section .inner p {
    font-size: 1.75em;
  }
  section .inner a img {
    height: 50px;
  }
  section p {
    font-size: 1.75em;
  }
  section #email {
    font-size: 1.25em;
  }
  #about .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
  }
  #about .row a {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .bottom {
    padding: 13px 40px;
  }
}
/*# sourceMappingURL=styles.css.map */